---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entrepreneurship">
  <main>
    <h1>Entrepreneurship Page</h1>
    <p>Welcome to the entrepreneurship page!</p>
  </main>
</Layout>
